<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Task</title>
</head>
<body style="display: flex; justify-content: center; align-items: center;">
  <h1 style="width: 700px; text-align: center; margin-top: 40vh; translate: 0 -100%;">
    Hello!<br> This API-service allows you to create <br>a blog. To find out more, please follow <br> &#128073; <a href="https://github.com/Votchitsev/nodejs-test-task">here</a>.
  </h1>
</body>
</html>
